<h3>Destinations you have visited:</h3>
<% @destinations.each do |destination| %>
  <% unless destination.nil? %>
  <p><%= destination.name.upcase %></p>
  <p><%= destination.description %></p>
  <%= link_to "Go to the destination page", destination_path(destination) %><br><br>
  <% end %>
<% end %>
