<h3>My destinations:</h3>

<% if @destinations %>
  <ul>
    <% @destinations.each do |destination| %>
      <%= render partial: "destination", locals: {destination: destination} %>
    <% end %>
  </ul>
  <%= button_to 'Add a destination', new_destination_path, class: 'btn btn-primary', method: :get %>
<% else %>
  <h3>You haven't added any destinations to your bucket list yet!</h3>
  <%= button_to 'Add a destination', new_destination_path, class: 'btn btn-primary', method: :get %>
<% end %>


<!-- consuming json from the api -->
<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-more").on('click', function() {
    var id = $(this).data("id")
    // change the URL to the new route
    $.get("/destinations/" + id + ".json", function(data) {
      var descriptionText = "<p>" + data["description"] + "</p>"
      // Replace text of destination-id div
        $("#destination-" + id).html(descriptionText)
    })
  })
})
</script>
