<h3>My destinations:</h3>

<% if @destinations %>
  <ul>
    <% @destinations.each do |destination| %>
      <%= render partial: "destination", locals: {destination: destination} %>
    <% end %>
  </ul>
  <%= button_to 'Add a destination', new_destination_path, class: 'btn btn-primary', method: :get %>
<% else %>
  <h3>You haven't added any destinations to your bucket list yet!</h3>
  <%= button_to 'Add a destination', new_destination_path, class: 'btn btn-primary', method: :get %>
<% end %>
