<h1>All categories:</h1>

<% if @categories %>
  <%= render(@categories) %>
  <div><%= button_to 'Add More Categories', new_destination_category_path, class: 'btn btn-primary', method: :get if @destination %></div>
<% else %>
  <h3>You don't have any categories yet</h3>
<% end %>
