<h3>My categories:</h3>

<% if @categories %>
  <% @categories.each do |category| %>
    <li><%= link_to category.title, category_path(category) %></li>
    <ul>
      <li><%= category.climate %></li>
      <li><%= category.must_have_items %></li>
    </ul>
  <% end %>
<% else %>
  <h3>You don't have any categories yet</h3>
<% end %>
