<h1><%= link_to @category.title, destination_category_path(@category) %></h1>
<h4>Destinations:</h3>
  <ul>
    <% @category.destinations.each do |destination| %>
      <li><%= link_to destination.name, destination_path(@category, destination) %></li>
    <% end %>
  </ul>
